rules_version = '2';
// Allow read/write access to all users under any conditions
// Warning: **NEVER** use this rule set in production; it allows
// anyone to overwrite your entire database.
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomId} {
      allow read, write: if request.auth != null && request.auth.uid != null;
    }
    match /rooms/{roomId}/discarded/{userId} {
      allow read, write: if request.auth != null && request.auth.uid != null;
    }
    match /rooms/{roomId}/{document=**}/{userId} {
      allow read, write: if request.auth != null && request.auth.uid != null && request.auth.uid == userId;
    }
    match /rooms/{roomId}/users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid != null && request.auth.uid == userId;
    }
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid != null && request.auth.uid == userId;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
